.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: #53c28b;
}

.logout {
  padding: 10px;
  outline: none;
  border: 1px solid #53c28b;
  background-color: transparent;
  color: #bbb;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
