.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.mainLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: #53c28b;
}

.logout {
  padding: 10px;
  outline: none;
  border: 1px solid #53c28b;
  background-color: transparent;
  color: #bbb;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

/* responisive design */

/* Default styles for navbar */

/* Media query for mobile view */
@media (max-width: 768px) {
  .container {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
  }

  .links {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .mainLinks {
    display: flex;
    flex-direction: column;
  }
}
