.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  }
  .content {
    color: rgb(86, 176, 86);
  }

  .social {
    justify-content: space-between;
  }
}
