.container {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img {
  object-fit: cover;
  width: 100%;
}

.imgContainer {
  width: 400px;
  height: 100px;
}

.postDelete {
  cursor: pointer;
  color: red;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
  color: #53c28b;
}

.button {
  padding: 20px;

  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-size: 20px;

  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .post {
    display: flex;
    gap: 2em;
    flex-direction: column;
  }

  .imgContainer {
    width: 90%;
  }
}
